html {
  background: #3b3b3b;
  color: #d3d3d3;
  margin: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #ffffff;
}

.accordion {
  width: 100%;
  font-size: x-large;
  max-width: 1080px;
  background-color: #444444;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.section {
  border-bottom: 1px solid #929292;
  margin-bottom: 20px;
  padding: 10px 0;
}

.title {
  position: relative;
  cursor: pointer;
  padding-right: 30px;
  font-weight: bold;
  color: #d3d3d3;
  padding: 12px 20px;
  background-color: #555555;
  border-radius: 4px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.accordion .section:nth-child(even) .title {
  background-color: #717171;
}

.title:hover {
  background-color: #000000 !important;
}

.title::after {
  content: "↓";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  font-size: 18px;
}

.title.active::after {
  transform: rotate(180deg);
}

.description {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  padding: 0 20px;
  background-color: #333333;
  border-radius: 4px;
  margin-bottom: 20px;
}

.title.active + .description {
  max-height: 200px;
  opacity: 1;
}

.description p {
  margin: 0;
  padding: 10px 0;
  color: #cccccc;
  line-height: 1.5;
}
